/* Font import - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* MASTER STYLES */

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    background-color: #121212;
    padding: 12px 72px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-main {
    font-size: 42px;
    font-weight: 500;
}

#nav-bar-ul ul {
    margin: 0;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}

#nav-bar-ul span {
    padding: 12px 24px;
}

#nav-bar-ul span:hover {
    background-color: #323232;
}

#nav-bar-ul img {
    width: 32px;
}

/* WORK STYLES */

#body-work {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#work-heading {
    font-size: 42px;
    font-weight: 300;
}

#work-images {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.work-image-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: underline;
}

.work-image-column a:hover {
    color: aqua;
}

#body-work img {
    width: 460px;
}

#work-display {
    width: 60%;
}

#work-description {
    text-align: left;
    margin: 32px auto 0;
    line-height: 1.7em;
}

/* ABOUT ME STYLES */

#about-me-image {
    width: 50%;
    align-self: center;
}

#body-about-me {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about-me-display {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    gap: 32px;
}

#about-me-heading {
    font-size: 42px;
    font-weight: 300;
}

#body-about-me img {
    width: 460px;
}

#about-me-description {
    width: inherit;
    text-align: left;
    line-height: 2em;
}
#skills-icons {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
#skills-icons img {
    width: 75px;
}