/* Font import - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* Font import - Montserrat Alternates */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300&display=swap');
/* MASTER STYLES */
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background: linear-gradient(#021318, #121212); */
	background-color: #020f12;
	color: #ececec;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
a {
	text-decoration: none;
	color: inherit;
}
div {
	display: inline-block;
	box-sizing: border-box;
}
img {
	border: 1px solid #ececec;
}
button {
	padding: 0.75rem 1.25rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 300;
	color: #121212;
	background-color: #178fb2;
	border: 1px solid #121212;
	border-radius: 3px;
	/* Transitions */
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s ease;
	/* For some reason, border transtion seems to process 
    with the background transition.
    Adding a border-specific transition causes both the 
    background and color transitions to stop working. 
    transition: border 3s ease;
    -webkit-transition: border 3s ease;
    -o-transition: border 3s;
    -moz-transition: border 3s ease; */
}
.font-alt {
	font-family: 'Montserrat Alternates', sans-serif;
}
#api-link {
	text-decoration: underline;
}
/* Sets :hover effects to only occur when hover capability exists
 - therefore, hover effects will be hidden on mobile */
@media (hover: hover) and (pointer: fine) {
	button:hover {
		color: #178fb2;
		background-color: #121212;
		border: 1px solid #178fb2;
		cursor: pointer;
	}
	#logo-main:hover {
		color: #178fb2;
		cursor: pointer;
	}
	/* #mobile-menu-ul span:hover {
        background-color: #323232;
        color: #FFFFFF;
    } */
	#nav-bar-ul span:hover {
		/* background-color: #323232; */
		color: #178fb2;
		cursor: pointer;
	}
	#guithub-container:hover #guithub-description {
		visibility: visible;
		opacity: 1;
	}
	#hogwarts-container:hover #hogwarts-description {
		visibility: visible;
		opacity: 1;
	}
	#work-image-one-container:hover #work-one-description {
		visibility: visible;
		opacity: 1;
	}
	#work-image-two-container:hover #work-two-description {
		visibility: visible;
		opacity: 1;
	}
	#work-image-three-container:hover #work-three-description {
		visibility: visible;
		opacity: 1;
	}
}

/* HEADER STYLES */

#nav-bar {
	background-color: #020f12;
	/* background: linear-gradient(#121212, #021318); */
	padding: 6px 18px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #ececec;
	z-index: 100;
}

/* FOOTER STYLES */
.footer {
	/* background: linear-gradient(#121212, #021318); */
	background-color: #020f12;
	padding: 12px 32px;
	margin: 0;
	font-size: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	bottom: 0;
	border-top: 1px solid #ececec;
}

/* MOBILE MENU LINKS */

#logo-main {
	font-size: 24px;
	min-width: fit-content;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
}

#mobile-menu-icon img {
	width: 45px;
	display: block;
	border: 0;
}

#mobile-menu-links {
	padding: 0;
	margin: 0;
	display: none;
	justify-content: flex-end;
	align-items: center;
	font-size: 22px;
	line-height: 2em;
	width: 100%;
	text-align: right;
	position: fixed;
	top: 58px;
	background-color: rgba(18, 18, 18, 0.9);
	z-index: 10000;
}

#mobile-menu-ul ul {
	list-style: none;
	padding: 0;
}

#mobile-menu-ul span {
	padding: 12px 24px;
}

#mobile-menu-ul img {
	width: 32px;
	padding: 4px 24px 4px 12px;
	border: 0;
}

/* TABLET AND DESKTOP NAVBAR */

#logo-main {
	font-size: 20px;
	min-width: fit-content;
}

#nav-bar-icon img {
	width: 45px;
	display: block;
}

#nav-bar-links {
	display: none;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 26px;
	width: 100%;
}

#nav-bar-ul ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	flex-direction: row;
	align-items: center;
}

#nav-bar-ul span {
	padding: 12px 24px;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
}

#nav-bar-ul img {
	max-width: 28px;
	display: block;
	padding: 4px 4px;
	border: 0;
}

/* HOME STYLES */

#body-home {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 12px 0;
	background-image: url('https://i.ibb.co/jLXvGxf/home-abstract-background-mobile.png');
	background-position: center;
	background-size: cover;
}

#container-home {
	padding: 0;
	display: grid;
	max-width: 100%;
	grid-template-columns: 11.5% 36% 6% 36% 11.5%;
	grid-auto-rows: minmax(0px, auto);
	row-gap: 24px;
	align-items: center;
}

#container-home #tall-portrait {
	max-width: 100%;
	grid-area: 1 / 2 / span 3 / span 3;
}

#bio-text-home {
	font-size: 14px;
	width: 100%;
	height: 100%;
	align-self: start;
	grid-area: 4 / 2 / span 2 / span 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}
.home-skill {
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	gap: 2rem;
}
.home-skills-icon {
	border: 0;
	width: 60px;
}
#bio-text-one {
	display: flex;
	flex-direction: column;
}
#bio-text-name {
	font-size: 2.5rem;
}
#bio-text-dev {
	font-size: 1.2rem;
	opacity: 0.8;
	font-weight: 500;
}
#bio-text-two {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
#bio-text-three {
	font-size: 1.2rem;
}

/* HOME MEDIA QUERIES */

@media (min-width: 600px) {
	#body-home {
		background-image: url('https://i.ibb.co/T191qZS/home-abstract-background-02.png');
		background-position: center;
		background-size: cover;
		padding-top: 24px;
	}
	.home-skill {
		font-size: 1.8rem;
		gap: 1.2rem;
	}
	.home-skill img {
		width: 40px;
	}

	#nav-bar > * {
		align-items: center;
	}

	.footer {
		font-size: 10px;
	}

	/* - widens wide columns, narrows middle column
       - only 5 rows are being used in tablet layout, 
         so last 3 rows have been removed */
	#container-home {
		grid-template-columns: 6% 40% 8% 40% 6%;
		grid-auto-rows: minmax(0px, auto);
		row-gap: 24px;
	}

	#container-home #tall-portrait {
		grid-area: 1 / 2 / span 2 / span 1;
	}

	#bio-text-home {
		justify-content: flex-start;
		font-size: 22px;
		grid-area: 1 / 4 / span 2 / span 1;
		gap: 2.5rem;
	}

	#mobile-menu-icon {
		display: none;
	}

	#nav-bar-links {
		display: flex;
		font-size: 17px;
	}

	#nav-bar-ul ul {
		display: flex;
		gap: 0.75rem;
	}
	#nav-bar-ul span {
		padding: 4px 8px;
		align-items: center;
	}
}

@media (min-width: 900px) {
	#nav-bar-ul ul {
		gap: 1.5rem;
	}
	.footer {
		font-size: 12px;
	}

	#container-home {
		grid-template-columns: 9% 40% 3% 40% 9%;
		grid-auto-rows: minmax(0px, auto);
		height: auto;
		row-gap: 12px;
	}

	#container-home #tall-portrait {
		max-width: 75%;
		justify-self: center;
		grid-area: 1 / 2 / span 2 / span 1;
	}

	#bio-text-home {
		font-size: 25px;
		line-height: 1.6em;
	}
}

@media (min-width: 1200px) {
	.footer {
		font-size: 14px;
	}
	#body-home {
		background-image: url('https://i.ibb.co/T191qZS/home-abstract-background-02.png');
		background-position: center;
		background-size: cover;
		padding: 1.5rem 0;
	}
	#container-home {
		row-gap: 40px;
	}
	#nav-bar {
		padding: 18px 20px 18px 60px;
	}
	#logo-main {
		font-size: 32px;
	}
	#nav-bar-links {
		font-size: 22px;
	}
	#nav-bar-ul ul {
		gap: 0;
	}
	#nav-bar-ul span {
		padding: 18px 24px;
	}
	#nav-bar-ul img {
		max-width: 34px;
		padding: 4px 24px;
	}
	#home-cta {
		font-size: 20px;
		padding: 12px 24px;
	}
	#container-home #tall-portrait {
		max-width: 60%;
	}
	#bio-text-home {
		font-size: 26px;
		line-height: 2em;
		grid-area: 1 / 3 / span 2 / span 2;
		align-self: center;
		align-items: flex-start;
		justify-content: center;
	}
	.home-skill {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	.home-skills-icon {
		border: 0;
		width: 30px;
	}
	#bio-text-one {
		display: flex;
		flex-direction: column;
	}
	#bio-text-name {
		font-size: 4rem;
	}
	#bio-text-dev {
		margin-left: 0.5rem;
		font-size: 90%;
		opacity: 0.8;
		font-weight: 500;
	}
	#bio-text-two {
		font-size: 1.4rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 2rem;
	}
}

/* WORK STYLES */
#body-work {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 12px 0;
}
#container-work {
	padding: 0;
	display: grid;
	max-width: 100%;
	grid-template-columns: 8.5% 25% 3% 25% 3% 25% 8.5%;
	grid-auto-rows: minmax(0px, auto);
	row-gap: 1.75rem;
	align-items: center;
}
#heading-work {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	align-self: center;
	padding: 4px 0;
	max-width: 100%;
	grid-area: 1 / 2 / span 1 / span 5;
}
#work-intro {
	padding: 4px 12px;
	text-align: center;
	max-width: fit-content;
	justify-self: center;
	grid-area: 2 / 1 / span 1 / span 7;
	line-height: 1.5em;
}

/* GUITHUB STUDENT PORTAL */
#guithub-container {
	display: none;
}
#guithub-container-mobile {
	position: relative;
	grid-area: 2 / 2 / span 1 / span 5;
}
#guithub-image-mobile {
	max-width: 100vw;
	width: 100%;
}
#guithub-description-mobile {
	grid-area: 3 / 2 / span 1 / span 5;
}
#guithub-github {
	grid-area: 4 / 2 / span 1 / span 5;
	font-size: 1rem;
	justify-self: center;
}
/* HOGWARTS STUDENT PORTAL */
#hogwarts-container {
	display: none;
}
#hogwarts-container-mobile {
	position: relative;
	grid-area: 5 / 2 / span 1 / span 5;
}
#hogwarts-image-mobile {
	max-width: 100vw;
	width: 100%;
}
#hogwarts-description-mobile {
	grid-area: 6 / 2 / span 1 / span 5;
}
#hogwarts-github {
	grid-area: 7 / 2 / span 1 / span 5;
	font-size: 1rem;
	justify-self: center;
}

/* WORK IMAGE 1 */
#work-image-one-container {
	position: relative;
	grid-area: 8 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-one-image {
	max-width: 100%;
	border: 0;
}
/* constrain image size to anchor */
#work-one-image img {
	width: 100%;
}
/* Desktop description */
#work-one-description {
	grid-area: 8 / 2 / span 1 / span 5;
	line-height: 1.7em;
	padding: 6px 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(18, 18, 18, 0.85);
	color: #ececec;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}
/* Mobile description */
#work-image-one-desc-mobile {
	display: block;
	font-size: 1rem;
	grid-area: 9 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-one-github {
	grid-area: 10 / 2 / span 1 / span 5;
	font-size: 1rem;
	justify-self: center;
}

/* WORK IMAGE 2 */
#work-image-two-container {
	position: relative;
	grid-area: 11 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-two-image {
	max-width: 100%;
	border: 0;
}
/* constrain image size to anchor */
#work-two-image img {
	width: 100%;
}
#work-two-description {
	grid-area: 11 / 2 / span 1 / span 5;
	line-height: 1.7em;
	padding: 6px 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(18, 18, 18, 0.85);
	color: #ececec;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

/* Mobile description */
#work-image-two-desc-mobile {
	display: block;
	font-size: 1rem;
	grid-area: 12 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-two-github {
	grid-area: 13 / 2 / span 1 / span 5;
	font-size: 1rem;
	justify-self: center;
}

/* WORK IMAGE 3 */
#work-image-three-container {
	position: relative;
	grid-area: 14 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-three-image {
	max-width: 100%;
	border: 0;
}
#work-three-image img {
	width: 100%;
}
#work-three-description {
	grid-area: 14 / 2 / span 1 / span 5;
	line-height: 1.7em;
	padding: 6px 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(18, 18, 18, 0.85);
	color: #ececec;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

/* Mobile description */
#work-image-three-desc-mobile {
	display: block;
	font-size: 1rem;
	grid-area: 15 / 2 / span 1 / span 5;
	justify-self: center;
}
#work-three-github {
	grid-area: 16 / 2 / span 1 / span 5;
	justify-self: center;
}

/* WORK MEDIA QUERIES */
@media (min-width: 600px) {
	#heading-work {
		grid-area: 1 / 2 / span 1 / span 5;
	}
	#work-intro {
		grid-area: 2 / 2 / span 1 / span 5;
		font-size: 20px;
	}
	#work-one-description {
		font-size: 19px;
	}
	#guithub-container-mobile {
		display: none;
	}
	#guithub-container {
		position: relative;
		display: block;
		max-width: 600px;
		width: 100%;
		justify-self: center;
		grid-area: 2 / 2 / span 1 / span 5;
	}
	#guithub-image {
		width: 100%;
	}
	#guithub-description-mobile {
		display: none;
	}
	#guithub-description {
		grid-area: 3 / 2 / span 1 / span 5;
		font-size: 2.5rem;
		line-height: 1.7em;
		text-align: center;
		padding: 6px 12px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(18, 18, 18, 0.85);
		color: #ececec;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
	}
	#hogwarts-container-mobile {
		display: none;
	}
	#hogwarts-container {
		position: relative;
		display: block;
		max-width: 600px;
		width: 100%;
		justify-self: center;
		grid-area: 5 / 2 / span 1 / span 5;
	}
	#hogwarts-image {
		width: 100%;
	}

	#hogwarts-description {
		grid-area: 6 / 2 / span 1 / span 5;
		font-size: 2.5rem;
		line-height: 1.7em;
		text-align: center;
		padding: 6px 12px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(18, 18, 18, 0.85);
		color: #ececec;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
	}
	#hogwarts-github {
		grid-area: 7 / 2 / span 1 / span 5;
	}
	#work-image-one-container {
		grid-area: 8 / 2 / span 1 / span 5;
	}
	#work-image-one-desc-mobile {
		grid-area: 9 / 2 / span 1 / span 5;
		font-size: 1.2rem;
		padding: 1rem 2rem;
	}
	#work-one-github {
		grid-area: 10 / 2 / span 1 / span 5;
	}
	#work-image-two-container {
		grid-area: 11 / 2 / span 1 / span 5;
	}
	#work-image-two-desc-mobile {
		grid-area: 12 / 2 / span 1 / span 5;
		font-size: 1.2rem;
		padding: 1rem 2rem;
	}
	#work-two-github {
		grid-area: 13 / 2 / span 1 / span 5;
	}
	#work-two-description {
		font-size: 19px;
	}
	#work-image-three-container {
		grid-area: 14 / 2 / span 1 / span 5;
	}
	#work-image-three-desc-mobile {
		grid-area: 15 / 2 / span 1 / span 5;
		font-size: 1.2rem;
		padding: 1rem 2rem;
	}
	#work-three-github {
		grid-area: 16 / 2 / span 1 / span 5;
	}
}
@media (min-width: 900px) {
	/* Hide mobile descriptions */
	#guithub-container {
		grid-area: 3 / 2 / span 1 / span 5;
	}
	#guithub-github {
		grid-area: 4 / 2 / span 1 / span 5;
	}
	#hogwarts-container {
		grid-area: 5 / 2 / span 1 / span 5;
	}
	#hogwarts-github {
		grid-area: 6 / 2 / span 1 / span 5;
	}
	#guithub-description-mobile,
	#hogwarts-description-mobile,
	#work-image-one-desc-mobile,
	#work-image-two-desc-mobile,
	#work-image-three-desc-mobile {
		display: none;
	}
	#work-image-one-container {
		grid-area: 7 / 2 / span 1 / span 1;
	}
	#work-one-github {
		grid-area: 8 / 2 / span 1 / span 1;
	}
	#work-image-two-container {
		grid-area: 7 / 4 / span 1 / span 1;
	}
	#work-two-github {
		grid-area: 8 / 4 / span 1 / span 1;
	}
	#work-two-description {
		font-size: 19px;
	}
	#work-image-three-container {
		grid-area: 7 / 6 / span 1 / span 1;
	}
	#work-three-github {
		grid-area: 8 / 6 / span 1 / span 1;
	}
}
@media (min-width: 1200px) {
	#body-work {
		padding: 40px 0;
	}
	#heading-work {
		font-size: 60px;
	}
	#work-intro {
		font-size: 24px;
		padding: 0 32px;
	}
	#guithub-container {
		max-width: 1000px;
		width: 100%;
	}
	#guithub-image {
		width: 100%;
	}
	#hogwarts-container {
		max-width: 1000px;
		width: 100%;
	}
	#hogwarts-image {
		width: 100%;
	}
	#guithub-github button,
	#hogwarts-github button,
	#work-one-github button,
	#work-two-github button,
	#work-three-github button {
		font-size: 1.5rem;
	}

	#guithub-description,
	#hogwarts-description,
	#work-one-description,
	#work-two-description,
	#work-three-description {
		font-size: 32px;
		font-weight: 200;
		padding: 20px 32px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#work-three-description {
		font-size: 23px;
	}
}

/* ABOUT ME STYLES */

#body-about-me {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding-top: 24px;
	background-image: url('https://i.ibb.co/dkHqzLJ/bio-abstract-background-mobile.png');
	background-position: center;
	background-size: cover;
	padding-bottom: 2rem;
}

#container-about-me {
	padding: 0;
	display: grid;
	max-width: 100%;
	grid-template-columns: 12% 19% 19% 19% 19% 12%;
	grid-auto-rows: minmax(0px, auto);
	row-gap: 24px;
	align-items: center;
}

#container-about-me #tall-portrait {
	max-width: 100%;
	grid-area: 1 / 2 / span 3 / span 4;
}

#skills-heading {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	align-self: center;
	max-width: 100%;
	padding: 4px 0;
	grid-area: 1 / 1 / span 1 / span 6;
}

#skills-icons {
	grid-area: 2 / 2 / span 1 / span 4;
	width: inherit;
	max-width: 100%;
	display: grid;
	grid-template-columns: 33.33% 33.34% 33.33%;
	grid-template-rows: repeat(3, auto);
	gap: 20px;
	background-color: rgba(18, 18, 18, 0.5);
	border-radius: 1rem;
	box-shadow: 0 0 30px rgb(18, 18, 18);
}
#skills-icons img {
	width: 80px;
	border: 0;
}

#bio-heading {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	align-self: center;
	padding: 4px 0;
	max-width: 100%;
	grid-area: 3 / 1 / span 1 / span 6;
}

#container-about-me #tall-guitar {
	max-width: 100%;
	grid-area: 4 / 2 / span 1 / span 4;
}

#bio-personal {
	grid-area: 5 / 2 / span 1 / span 4;
	line-height: 1.8em;
	padding: 6px 12px;
	font-weight: 400;
	background-color: rgba(18, 18, 18, 0.5);
	border-radius: 1rem;
	box-shadow: 0 0 30px rgb(18, 18, 18);
}

/* ABOUT ME MEDIA QUERIES */
@media (min-width: 600px) {
	#body-about-me {
		background-image: url('images/home-abstract-background-tablet-02.png');
		background-position: center;
		background-size: cover;
	}
	#skills-icons {
		max-width: 50%;
		justify-self: center;
	}
	#bio-personal,
	#skills-icons {
		background-color: rgba(18, 18, 18, 0);
		border-radius: 0;
		box-shadow: none;
	}
}
@media (min-width: 900px) {
	#skills-heading,
	#bio-heading {
		font-size: 48px;
	}
	#skills-icons {
		max-width: 50%;
	}
	#skills-icons img {
		width: 100px;
	}
	#container-about-me #tall-guitar {
		max-width: 60%;
		justify-self: center;
	}
	#bio-personal {
		font-size: 18px;
		line-height: 1.6em;
	}
}
@media (min-width: 1200px) {
	#body-about-me {
		background-image: url('https://i.ibb.co/WgbDsJ9/home-abstract-background-03.png');
		background-position: center;
		background-size: cover;
		padding: 40px 0;
	}
	#container-about-me {
		grid-template-columns: 11.5% 36% 6% 36% 11.5%;
	}
	#skills-heading {
		grid-area: 1 / 2 / span 1 / span 1;
	}
	#skills-icons {
		max-width: 90%;
		align-self: flex-start;
		grid-area: 2 / 2 / span 2 / span 1;
	}
	#skills-icons img {
		width: 120px;
	}
	#bio-heading {
		grid-area: 1 / 4 / span 1 / span 1;
	}
	#container-about-me #tall-guitar {
		grid-area: 2 / 4 / span 1 / span 1;
	}
	#bio-personal {
		grid-area: 3 / 4 / span 1 / span 1;
	}
}

/* CONTACT STYLES */

#body-contact {
	width: 100%;
	margin: 0;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding-top: 24px;
}

#container-contact {
	padding: 0;
	margin: 0;
	display: grid;
	max-width: 100%;
	grid-template-columns: 11.5% 36% 3% 36% 11.5%;
	grid-auto-rows: minmax(0px, auto);
	row-gap: 24px;
	align-items: center;
}

#contact-heading {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	padding: 4px 0;
	align-self: center;
	grid-area: 1 / 1 / span 1 / span 6;
}

#contact-cta {
	grid-area: 2 / 2 / span 1 / span 3;
	font-size: 20px;
	line-height: 1.8rem;
	padding: 12px;
}

#contact-links {
	grid-area: 3 / 2 / span 1 / span 3;
}
#contact-links button {
	margin: 14px 0;
}

#contact-photo {
	max-width: 100%;
	grid-area: 4 / 2 / span 1 / span 3;
}
#contact-photo img {
	max-width: 100%;
}

/* CONTACT MEDIA QUERIES */

@media (min-width: 600px) {
	#contact-cta {
		font-size: 24px;
		justify-items: center;
	}
}
@media (min-width: 900px) {
	#body-contact {
		padding: 40px 0 60px;
	}
	#container-contact {
		grid-auto-rows: minmax(0px, auto);
		margin-bottom: 0;
	}
	#contact-heading {
		font-size: 48px;
	}
	#contact-cta {
		grid-area: 2 / 2 / span 1 / span 1;
	}
	#contact-links {
		grid-area: 3 / 2 / span 1 / span 1;
	}
	#contact-photo {
		grid-area: 2 / 4 / span 2 / span 1;
	}
}
@media (min-width: 1200px) {
	#container-contact {
		grid-auto-rows: minmax(0px, auto);
	}
	#contact-heading {
		font-size: 60px;
		padding: 12px 0;
		max-width: 100%;
	}
	#contact-cta {
		grid-area: 2 / 2 / span 1 / span 1;
		align-self: flex-start;
		padding-top: 36px;
	}
	#contact-links {
		grid-area: 3 / 2 / span 1 / span 1;
		align-self: flex-start;
	}
	#contact-photo {
		max-width: 60%;
		align-self: flex-start;
		justify-self: center;
		grid-area: 2 / 4 / span 4 / span 1;
	}
}
